{% extends 'PDSiteBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <h3>Επικοινωνία</h3>
    </div>

    <div class="row">
        <p>
            Μπορείτε να μας βρείτε στο <a href="mailto:dnna@dnna.gr">dnna@dnna.gr</a> ή στο <a href="mailto:aflatht65@gmail.com">aflatht65@gmail.com</a>.
        </p>
    </div>
{% endblock %}