{% extends 'PDSiteBundle::base.html.twig' %}

{% block title %}Επικοινωνία | Pet Date{% endblock %}

{% block content %}
    <div class="row">
        <h3>Επικοινωνία</h3>
    </div>

    <div class="row">
        <p>
            Μπορείτε να επικοινωνήσετε μαζί μας στο <a href="mailto:dnna@dnna.gr">dnna@dnna.gr</a>.
        </p>
    </div>
{% endblock %}