{% extends 'PDSiteBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <h3>Συχνές Ερωτήσεις</h3>
    </div>

    <div class="row">
        <p>
            <strong>Γιατί να χρησιμοποιήσω το Pet Date;</strong><BR />
        Γιατί εδώ μπορείς εύκολα να αναζητήσεις και να βρεις κοντά στην περιοχή σου το κατάλληλο ταίρι για το σκύλο σου με βάση συγκεκριμένα στοιχεία, ολοκληρωμένα προφίλ και άμεση επικοινωνία με τον ιδιοκτήτη.
        </p>
        <BR />
        <p>
            <strong>Πώς μπορώ να επικοινωνήσω με τον άλλο ιδιοκτήτη;</strong><BR />
            Αφού συμπληρώσεις τη φόρμα επικοινωνίας και τη στείλεις, ο ιδιοκτήτης θα ενημερωθεί μέσω email και αν ενδιαφέρεται, θα σου απαντήσει μέσω αυτού.
        </p>
    </div>
{% endblock %}