{% extends 'PDSiteBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <h3>Πως λειτουργεί</h3>
    </div>

    <div class="row">
        <h4>Ψάχνεις ταίρι για το σκύλο σου;</h4>
        <BR />

        <p>
            <strong>1. Δημιούργησε το προφίλ του κατοικιδίου σου</strong><BR />
            Καταχώρησε στοιχεία όπως φύλο, ηλικία και ράτσα και ανέδειξε το κατοικίδιο σου με μια καθαρή φωτογραφία.
        </p>
        <p>
            <strong>2. Αναζήτησε το κατάλληλο προφίλ σκύλου</strong><BR />
            Ψάξε κοντά στην περιοχή σου για τους σκύλους που ταιριάζουν στο δικό σου.
        </p>
        <p>
            <strong>3. Βρες το προφίλ που του ταιριάζει</strong><BR />
            Μπορείς να δεις αναλυτική περιγραφή, ιστορικό και κριτικές για το σκύλο που θες.
        </p>
        <p>
            <strong>4. Επικοινώνησε με τον ιδιοκτήτη</strong><BR />
            Αφού έχεις καταλήξει σε κάποιο προφίλ, στείλε το μήνυμά σου και ενημέρωσε τον ιδιοκτήτη για το ενδιαφέρον σου.
        </p>
        <p>
            <strong>5. Άφησε την κριτική σου</strong><BR />
            Αν τελικά ζευγαρώσεις το αγαπημένο σου κατοικίδιο, μπορείς να αφήσεις κριτική σχετικά με τη συμπεριφορά του σκύλου αλλά και του ιδιοκτήτη!
        </p>
    </div>
{% endblock %}